<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="https://cdn.techinasia.com/data/images/3alC4cHrPwxaZLcHXaVdtIrdZg1AipfkSizMSAzL.jpeg" type="image/x-icon"/>
        
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    </head>
<body>
    {% block header %}
        {% include 'liveapp/header.html' %}
    {% endblock  %}
    
    {% block content %}
    {% endblock  %}

    {% block footer %}
    {% endblock  %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>