<header class="border-bottom fixed-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-2 blog align-items-center">
                <span>Toko Online</span>
            </div>
            <div class="col-md-10 d-flex justify-content-start">
                <nav class="navbar">
                    <a href="{% url 'liveapp:index' %}" class="nav-link font-weight-bold">Home</a>
                </nav>
            </div>
        </div>
    </div>
</header>